@import url(header.css);
html, body{
    min-height:100vh;
}


body{

background:#0f0f0f;
font-family:Arial;
color:white;
display:flex;
flex-direction:column;
margin: 0;
min-height:100vh;
}



.container{

background:#1b1b1b;
padding:40px;
border-radius:10px;
width:500px;
box-shadow:0 0 15px rgba(0,0,0,0.6);
padding-top:120px;

}

h1{

text-align:center;
color:#d4af37;

}



/* ================= FORMULARIO DENUNCIAS ================= */

.form-container{

max-width:700px;
margin:120px auto 80px auto;
padding:40px;
background:#161616;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);

}

/* TITULO */

.form-title{

text-align:center;
margin-bottom:30px;

}

.form-title h1{

color:#d4af37;
font-size:28px;
margin-bottom:10px;

}

.form-title p{

color:#ccc;
font-size:15px;

}

/* PASOS */

.step{

display:none;
flex-direction:column;
gap:18px;

}

.step.active{

display:flex;
animation:fadeIn .4s ease;

}

@keyframes fadeIn{

from{opacity:0; transform:translateY(10px);}
to{opacity:1; transform:translateY(0);}

}

/* INPUTS */

input,
select,
textarea{

background:#0f0f0f;
border:1px solid #333;
padding:12px 14px;
border-radius:6px;
color:white;
font-size:14px;
transition:.2s;

}

input:focus,
textarea:focus,
select:focus{

outline:none;
border-color:#d4af37;
box-shadow:0 0 6px rgba(212,175,55,.4);

}

/* TEXTAREA */

textarea{

resize:none;

}

/* RADIO BUTTONS */

.radio-group{

display:flex;
flex-direction:column;
gap:10px;

}

.radio-option{

background:#111;
padding:12px;
border-radius:6px;
border:1px solid #2a2a2a;
cursor:pointer;
transition:.2s;

}

.radio-option:hover{

border-color:#d4af37;

}

/* BOTONES */


.form-buttons{

display:flex;
justify-content:space-between;
margin-top: 80px;

}

button{

background:#d4af37;
color:black;
border:none;
padding:12px 22px;
border-radius:6px;
font-weight:bold;
cursor:pointer;
transition:.2s;

}

button:hover{

background:#b9972e;
transform:translateY(-1px);

}

/* BOTON ANTERIOR */

#prev{

background:#333;
color:white;

}

#prev:hover{

background:#444;

}

/* PROGRESS BAR */

.progress-bar{

width:100%;
height:6px;
background:#2a2a2a;
border-radius:5px;
margin-bottom:25px;
overflow:hidden;

}

.progress{

height:100%;
width:0%;
background:#d4af37;
transition:.3s;

}

/*DATOS PERSONALES*/

#datos_personales{

display:none;
margin-top:20px;
display:flex;
flex-direction:column;
gap:12px;

}

/*CAMPOS INCOMPLETOS*/
.error-message{

color:#ff4d4d;
font-size:13px;
margin-top:8px;
display:block;

}

.error-text{

color:#d4af37;
font-size:13px;
margin-top:5px;

}
.input-error{

border:1px solid #ff4d4d !important;

}

/* ARCHIVO */

input[type="file"]{

border:1px dashed #444;
padding:15px;
cursor:pointer;

}



.irregularidades{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:16px;
margin-top:25px;

}

.card-irregularidad{

position:relative;
border:2px solid #c9a45c; /* dorado */
border-radius:10px;
padding:18px;
cursor:pointer;
transition:0.25s;
background:transparent; /* mismo fondo que formulario */

}

.card-irregularidad:hover{

border-color:#b0c95c;
box-shadow:0 4px 10px rgba(0,0,0,0.05);

}

.card-irregularidad input{

display:none;

}

.card-content h4{

margin-bottom:6px;
font-size:16px;

}

.card-content p{

font-size:13px;
color:#666;

}

/* CHECK */

.check{

position:absolute;
top:10px;
right:10px;
width:22px;
height:22px;
border-radius:50%;
border:2px solid #ccc;

}

/* CARD SELECCIONADA */

.card-irregularidad input:checked + .card-content + .check{

background:#c9a45c;
border-color:#c9a45c;

}

.card-irregularidad input:checked + .card-content + .check::after{

content:"✓";
color:white;
font-size:14px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);

}

/* ===============================
   CUESTIONARIO DENUNCIA
================================ */

.pregunta-item{

display:flex;
flex-direction:column;
margin-bottom:25px;

}

.pregunta-label{

font-weight:500;
margin-bottom:10px;
line-height:1.4;

}

.pregunta-textarea{

width:100%;
min-height:120px;
resize:vertical;

}


.aviso-latter{
    background: rgba(212, 175, 55, 0.08); /* dorado suave */
    border-left: 4px solid #d4af37; /* detalle elegante */
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
}

/* Cada bloque interno */
.aviso-latter h1{
    font-size: 16px;
    color: #d4af37;
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: 600;
}

/* Primer título sin margen arriba */
.aviso-latter h1:first-child{
    margin-top: 0;
}

.aviso-latter p{
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 10px;
}

.aviso-item{
   margin-top: 10px;
}

.aviso-item:last-child{
   margin-top: 0;
}

.whatsapp-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.whatsapp-btn img{
    width:50px;
}




#resumen-contenido{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* ITEM */
.resumen-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 15px;
    border-radius: 10px;
    background: #f9f9f9;
    border: 1px solid #eee;
}

/* LABEL */
.resumen-label{
    font-weight: 600;
    color: #555;
    font-size: 14px;
}

/* VALOR */
.resumen-valor{
    color: #111;
    font-size: 14px;
    text-align: right;
    max-width: 60%;
    word-break: break-word;
}

/* RESPONSIVE */

@media(max-width:768px){

*{
box-sizing:border-box;
}


.contenido{
    margin-top: 0;
}

.form-container{

margin:100px 20px 60px 20px;
padding:30px;

}



}


/* ===============================
   MOVILES PEQUEÑOS
================================ */

@media (max-width:768px){

html{
scroll-behavior:smooth;
}

body{
padding-top:70px;
overflow-x:hidden;
}



.contenido{

padding-top:40px;

}

.form-container{
width:100%;
max-width:500px;
margin:0 auto;
padding:22px 18px;
}

/* TITULO */

.form-title h1{

font-size:22px;

}

.form-title p{

font-size:14px;

}

/* INPUTS */

input,
select,
textarea{

font-size:16px; /* evita zoom en iOS */
padding:14px;
width:100%;
margin-bottom:6px;
}

/* RADIO */

.radio-option{

font-size:14px;
padding:14px;

}

/* BOTONES */

.form-buttons{

flex-direction:column;
gap:12px;
margin-top:40px;

}

button{

width:100%;
padding:16px;
font-size:16px;
border-radius:8px;

}

/* PROGRESS */

.progress-bar{
height:10px;
border-radius:20px;
}

/* LABEL */

label{
display:block;
margin-top:18px;
margin-bottom:6px;
font-size:14px;
}

/* TEXT AREA */
textarea{
min-height:140px;
resize:none;
}


.irregularidades{

grid-template-columns:repeat(2,1fr);

}

}


/* ===============================
   MOVILES MEDIANOS
================================ */

@media (min-width:481px) and (max-width:768px){

body{

align-items:flex-start;
padding:30px 20px;

}


.contenido{
padding-top:140px;
}


.form-container{

margin:0 auto;
padding:30px;
width:100%;

}



input,
select,
textarea{

font-size:15px;
padding:13px;

}


.form-buttons{

margin-top:60px;

}

button{

padding:14px 20px;
font-size:15px;

}


.irregularidades{

grid-template-columns:1fr;

}

}

@media (max-width:480px){

.form-container{

width:100%;
max-width:100%;
margin:0 auto;
padding:20px 16px;

}

}

@media (max-width:480px){

.pregunta-label{
font-size:15px;
line-height:1.4;
}

.pregunta-textarea{
min-height:110px;
padding:14px;
}

}